.container
  @extend %center-box
  max-width: $width-4
  position: relative

.week-grid
  width: 100%

.summary
  width: 100%

.icon
  @extend %hide

.forecast
  @extend .group // ensures floats cleared at other widths
  +forecast-width($width-1, 5px, 0px, 1px, 1)
  font-size: 1.8em
  border: 1px solid black
  margin: 5px 5px

.rightnow
  @extend .group
  +forecast-width($width-1, 5px, 0px, 0px, 1)
  margin: 5px 5px
  font-size: 2.5em

.zero-box
  @extend %zero-margin
  @extend %zero-padding

.small-box
  @extend %zero-padding
  margin: 10px 0

.current-location
  font-size: ($font-size-base * 0.5)

.credit-line
  width: 75%
  margin: 20px auto
  text-align: center

.sunny, .mostlysunny, .clear
  +weather-icon('../images/sunny.png')

.mostlycloudy, .partlycloudy, .snow
  +weather-icon('../images/partly-cloudy.png')

.cloudy, .hazy
  +weather-icon('../images/cloudy.png')

.group:before, .group:after
  display: table
  content: ""

.group:after
  clear: both

.group
  *zoom: 1