@media all and (min-width:$width-2)
  .forecast
    font-size: ($font-size-base * 2)

  .rightnow
    +forecast-width($width-2, 5, 0, 0, 1)
    font-size: ($font-size-base * 2.2)

  .summary
    float: left
    width: 55%

  .icon
    display: block
    margin: auto
    float: left
    width: 45%
    padding-bottom: 45%

  .sunny-rightnow
    background-position: 50%

@media all and (min-width:$width-3)
  .rightnow
    +forecast-width($width-3, 5, 0, 0, 1)
    font-size: ($font-size-base * 3)

  .forecast
    +forecast-width($width-3, 5px, 0px, 1px, 2)
    float: left
    font-size: ($font-size-base * 2)

  .summary-forecast
    float: none
    width: 100%
    min-height: 350px

  .summary-rightnow
    float: left
    width: 65%

  .icon
    float: none
    width: 80%
    padding-bottom: 80% 

  .icon-rightnow
    float: left
    width: 35%
    padding-bottom: 35% 

  .sunny
    background-size: 80%

  .sunny-rightnow
    background-size: 70%

@media all and (min-width:$width-4)
  .forecast
    +forecast-width($width-4, 5px, 0px, 1px, 5)
    min-height: 510px
    font-size: ($font-size-base * 1.5)

  .summary-forecast
    min-height: 300px

  .rightnow
    +forecast-width($width-4, 5, 0, 0, 1)
    font-size: ($font-size-base * 3)