@mixin box-shadow($shadows...) 
  -webkit-box-shadow: $shadows
  -moz-box-shadow: $shadows
  box-shadow: inset $shadows

@mixin height-width($height, $width)
  height: $height
  width: $width

@mixin top-left-position-offset($top, $left)
  top: $top
  left: $left